.navButtons:hover {
  opacity: 50%;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: var(--color-canvas-overlay);
  border: var(--borderWidth-thin, 1px) solid var(--color-border-default);
  border-radius: var(--borderRadius-medium, 6px);
  box-shadow: var(--color-shadow-large);
  left: 0;
  list-style: none;
  margin-top: 2px;
  padding-bottom: var(--control-small-paddingBlock, 4px);
  padding-top: var(--control-small-paddingBlock, 4px);
  position: absolute;
  top: 100%;
  width: 160px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-row {
  background-color: #eee;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  width: 80%;
  height: 10vh;
  border-radius: 15px;
  transition: all 0.4s ease;
  cursor: pointer;
  border: none;
  padding: 0 10px 0 10px;
}
